* {
    margin: 0;
}

img {
    height: 300px;
}

li {
    list-style-type: none;
}

li:nth-child(1) {
    font-size: 24px;
    color: #F9FAFA;
}

a {
    text-decoration: none;
    color: #F9FAFA;
}

.background {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 15%;
}

.header {
    display: flex;
    color: #F9FAFA;
    padding: 20px 0;
    margin-bottom: 80px;
}

.header-list {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 0;
}

.push {
    margin-left: auto;
}

.section1 {
    display: flex;
    color: #F9FAFA;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 50px;
}

.section1>div {
    flex: 1 0 0%;
}

.section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    font-size: 48px;
    font-weight: bolder;
}

.section1 button {
    color: #F9FAFA;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    width: 80px;
    margin-top: 15px;
}

.section2 {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 15%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.flex-container > div {
    width: 200px;
}

.container {
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#information {
    padding: 30px;
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 200px 15%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-from {
    align-self: flex-end;
    margin-right: 70px;
}

.section4 {
    padding: 100px 15%;
}

.section4-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 15px;
    padding: 60px 100px;
    color: #F9FAFA;
    justify-content: space-between;
}

.section4-button {
    color: #F9FAFA;
    background-color: #3882f6;
    border: 1px solid #F9FAFA;
    border-radius: 5px;
    padding: 5px 0;
    width: 80px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    padding: 50px 15%;
    color: #F9FAFA;
    justify-content: center;
}